<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>;:noteId:;</title>
        <link rel="icon" href="favicon.ico" type="image/x-icon">
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="css/foundation.css" />
        <link rel="stylesheet" href="css/app.css" />
        <link rel="stylesheet" href="css/;:css:;" />
    </head>
    <body>
        <div class="message"></div>

        <div id="content"></div>

        ;:notes-editor:;

        <script src="js/vendor/jquery.min.js"></script>
        <script src="js/vendor/what-input.min.js"></script>
        <script src="js/foundation.min.js"></script>
        <script src="js/app.js"></script>
        <script src="js/ckeditor/ckeditor.js"></script>
        <script src="js/vendor/fastclick.js"></script>
        <script src="js/jquery.hotkeys.js"></script>
        <script src="js/handlebars-v4.0.5.js"></script>
        <script src="js/favico-0.3.9.min.js"></script>
        <script src="js/notes.js"></script>
    </body>
</html>
