<script id="notes-editor" type="text/x-handlebars-template">
    <div class="row">
        <div class="large-12 medium-12 small-12 columns">
            <form>
                <div class="row">
                    <div class="large-12 medium-12 small-12 columns align">
                        <button type="button" class="save success button scroller-save">Save</button>
                        <span class="label">Last saved: <span class="last-saved"></span></span>
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 medium-12 small-12 columns">
                        <textarea name="editor" id="editor" rows="40"></textarea>
                        <br />
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 medium-12 small-12 columns align">
                        <button type="button" class="save success button">Save</button>
                        <span class="label">Last saved: <span class="last-saved"></span></span>
                    </div>
                </div>
            </form>                
        </div>
    </div>
</script>
